body {
  padding: 30px;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 6px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
}
p {
  margin: 0;
  padding: 0;
}
h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.navigationBar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigationBar .name {
  font-family: "Sacramento", cursive;
}
.name p{
  font-size: 28px;
}
.navigationBar .icons {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navigationBar a{
  display: flex;
  align-items: center;
}

.protBody {
  margin: 0 120px;
}

#home {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home .desc {
  width: 50%;
}
#home .desc span {
  font-weight: normal;
}
#home .img {
  align-items: center;
  width: min-content;
}
#home .img img {
  aspect-ratio: 1/1;
  width: 420px;
  border-radius: 210px;
}

#carrer {
  margin: 10vh 0px;
  display: flex;
  flex-direction: row;
  gap: 20%;
  align-items: center;
}
#carrer .skills {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px 18px;
  height: min-content;
}
#carrer .skills .skill {
  padding: 2px 42px;
  border: 1px solid #000000;
  border-radius: 30px;
  height: min-content;
}
#carrer .carrerDesc {
  flex: 1;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

#projects .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
#projects .cards .card {
  width: 280px;
  height: 280px;
  /* height: 515px; */
  background: #ffffff;
  box-shadow: 87px 226px 97px rgba(0, 0, 0, 0.01),
    49px 127px 82px rgba(0, 0, 0, 0.05), 22px 56px 61px rgba(0, 0, 0, 0.09),
    5px 14px 33px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

#projects .cards .card .cardCont {
  padding: 30px 40px;
}

#insights {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 92px;
}

#insights .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#insights .cards .card {
  width: 420px;
  height: 572px;
  background: #ffffff;
  box-shadow: 87px 226px 97px rgba(0, 0, 0, 0.01),
    49px 127px 82px rgba(0, 0, 0, 0.05), 22px 56px 61px rgba(0, 0, 0, 0.09),
    5px 14px 33px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

#insights .cards .card img {
  width: 420px;
  border-radius: 30px 30px 0 0;
}

#insights .cards .card .cardCont {
  padding: 30px 40px;
}

.contact-main-container{
  margin-top: 50px;
}

.contact-main-container .contact-me{
  margin-bottom: 20px;
  align-items: center;
  align-content: center;
  align-self: center;
}
.contact_form{
 display: flex;
 flex-direction:column;

}

.contact_form input{
  border-radius: 10px;
  border-style:solid;
  height: 30px;
  margin-left: 30px;
  margin-top: 10px;

}
.contact-form-text input{
  height: 80px;
}

.contact-main-container button{
  margin-top: 10px;
  width: 100px;
}

.contact-main-container h4{
  margin-top: 20px;
}


